body {
     -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
 }
 .horizontal-slider {
     width: 100%;
 }
 .vertical-slider {
     height: 380px;
     width: 50px;
     border: 1px solid grey;
 }
 .handle {
     font-size: 0.9em;
     text-align: center;
     background-color: white;
     color: white;
     cursor: pointer;
     z-index: 100;
 }
 .handle.active {
     background-color: grey;
 }
 .bar {
   text-decoration:none;
   position: absolute;
   z-index: 10;
   right: -25px;
   background: #ddd;
 }
 .bar {
   background: #EC6367;
   background-size: cover;

 }
 .bar_img_1,.horizontal-slider {
   background-image: url('/assets/8.jpg');
 }
 .bar_img_2 {
   background-image: url('/assets/2.jpg');
 }
 .bar_img_3 {
   background-image: url('/assets/3.jpg');
 }
 .bar_img_4 {
   background-image: url('/assets/4.jpg');
 }
 .bar_img_5 {
   background-image: url('/assets/5.jpg');
 }
 .bar_img_6 {
   background-image: url('/assets/6.jpg');
 }
 .bar_img_7 {
   background-image: url('/assets/7.jpg');
 }
 .bar_img_8,.horizontal-slider {
   background-image: url('/assets/1.jpg');
 }
 .horizontal-slider .bar {
     height: 100vh;
 }

 .images-1 {
  background-repeat: no-repeat;
  top: 150px;
  height: 256px;
  width: 256px;
  margin: 0 auto;
  position: fixed;
  right: 0;
  text-align: center;
  left: 0;
  vertical-align: middle;
  z-index: 100;
 }

 .horizontal-slider .handle {
     top: 1px;
     width: 1px;
     height: 100vh;
     cursor: col-resize;
     line-height: 48px;
 }
 .vertical-slider .handle {
     left: 1px;
     width: 48px;
     line-height: 50px;
 }
 .vertical-slider .bar {
     left: 20px;
     width: 10px;
 }
 #horizontal-2 .bar.bar-2 {
     background: #ddd;
 }

 .comparison {
  width: 100%;
  height: 100%;
}
.comparison figure {
  margin: 0 !important;
  width: 100%;
  height: 100%;
  position: relative;
}
.comparison figure > div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: calc(100% + 1px);
  height: 100%;
}
.comparison figure > div > div {
  position: absolute;
  top: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.comparison figure img {
  display: block;
  position: relative;
  object-fit: fill;
  height: 100%;
}
.comparison input {
  margin-top: 23em;
  width: 100%;
  position: fixed;
  z-index: 200;
}

.abcd {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh !important;
  width: 100% !important;
}

.abcd-cover {
  background-repeat: no-repeat;
  background-size: cover;
}

input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;
    /* Height of the input slider*/
    height: 100%;
    margin-top: 0px;
    /*fix for FF unable to apply focus style bug */
    background-color: transparent;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: transparent;
    border: none;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 32px;
    width: 32px;
    background: url('/assets/tab.png') no-repeat center center;
    margin-top: -4px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: transparent;
}

input[type=range]::-moz-range-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: url(https://static.enginethemes.com/main/img/drag-icon.png) no-repeat center center;
    background: gold;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    width: 300px;
    height: 5px;

    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;

    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
}
input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: url(https://static.enginethemes.com/main/img/drag-icon.png) no-repeat center center;
    background: gold;
}
input[type=range]:focus::-ms-fill-lower {
    background: #888;
}
input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
}

.tooltip-item {
    width: 20px;
    height: 20px;
    margin: -15px 0 0 -15px;
    position: absolute;
    border-radius: 50%;
    border: 2px solid;
    -webkit-animation: pulse-item 0.6s infinite alternate;
    animation: pulse-item 0.6s infinite alternate;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.tooltip-item {
    border-color: #fff;
}

.tooltip-item.tooltip-item-1 {
  left: 424px;
  top: 296px;
  z-index: 110;
  height: 20px;
  width: 20px;
}

.sg1 {
	position: absolute;
	-webkit-transform: translate(-150%, 114%);
  transform: translate(-150%, 114%);
}

.sg2 {
  position: absolute;
  -webkit-transform: translate(75%, 55%);
  transform: translate(75%, 55%);
}

.group {
    -webkit-transform: translate(42.5px,42.5px);
    -moz-transform: translate(42.5px,42.5px);
    transform: translate(42.5px, 42.5px);
}
path {
    -webkit-transform: translate(-42.50px,-42.50px);
    -moz-transform: translate(-42.50px,-42.50px);
    transform: translate(-42.50px,-42.50px);
}
.large {
	-webkit-animation: large 2.5s infinite;
	-moz-animation: large 2.5s infinite;
}
.large-2 {
	-webkit-animation: large-2 2.5s infinite;
	-moz-animation: large-2 2.5s infinite;
}
.small {
	-webkit-animation: small 2.5s infinite;
	-moz-animation: small 2.5s infinite;
}
@-webkit-keyframes large {
	0% {
		opacity: 0;
		-webkit-transform: rotate(0deg) scale(0);
		transform: rotate(0deg) scale(0);
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		-webkit-transform: rotate(360deg) scale(1.5);
		transform: rotate(360deg) scale(1.5);
	}
}
@-moz-keyframes large {
	0% {
		opacity: 0;
		transform: rotate(0deg) scale(0);
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: rotate(360deg) scale(1.5);
	}
}
@-webkit-keyframes large-2 {
	0% {
		opacity: 0;
		-webkit-transform: rotate(45deg) scale(0);
		transform: rotate(45deg) scale(0);
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		-webkit-transform: rotate(405deg) scale(1.1);
		transform: rotate(405deg) scale(1.1);
	}
}
@-moz-keyframes large-2 {
	0% {
		opacity: 0;
		transform: rotate(45deg) scale(0);
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: rotate(405deg) scale(1.1);
	}
}
@-webkit-keyframes small {
	0% {
		opacity: 0;
		-webkit-transform: rotate(0deg) scale(0);
		transform: rotate(0deg) scale(0);
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		-webkit-transform: rotate(-360deg) scale(1);
		transform: rotate(-360deg) scale(1.5);
	}
}
@-moz-keyframes small {
	0% {
		opacity: 0;
		transform: rotate(0deg) scale(0);
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: rotate(-360deg) scale(1.5);
	}
}

.fff {
  top: -100px !important;
  left: 270px !important;
  z-index: 110;
}
